@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  background-color:hsl(223, 19%, 93%);
  font-family:'Rubik', sans-serif;
  font-size: 16px;
  height: 100vh;
 
}

